n8n/FDS_ MCP Lookup Tool - Vinyl Fence.json
{
  "name": "FDS: MCP Lookup Tool - Vinyl Fence",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "unit_name"
            },
            {
              "name": "design"
            },
            {
              "name": "height_ft",
              "type": "number"
            },
            {
              "name": "color"
            },
            {
              "name": "width_ft",
              "type": "number"
            },
            {
              "name": "is_picket"
            },
            {
              "name": "price_lte",
              "type": "number"
            },
            {
              "name": "price",
              "type": "number"
            },
            {
              "name": "price_gte",
              "type": "number"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1024,
        -16
      ],
      "id": "d5abb685-2270-49fe-b4b5-148c3e96a493",
      "name": "When Executed from MCP Trigger Call",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Get data from prior nodes\nconst productsQueryResults = $('Products Query').all();\n\nlet facetsQueryResults = [];\ntry {\n  facetsQueryResults = $('Facets Query').all();\n} catch (e) {\n  facetsQueryResults = []; // Facets Query not executed (that's OK)\n}\n\n// Extract products records\nconst productsData = productsQueryResults[0]?.json?.records || productsQueryResults[0]?.json || [];\nconst productRecords = Array.isArray(productsData) ? productsData : [productsData];\n\n// total_count (ALL matches), fallback to returned length\nconst totalCount =\n  productRecords[0]?.fields?.total_count ??\n  productRecords[0]?.total_count ??\n  productRecords.length;\n\n// --- Helpers ---\nfunction bufferToBool(value) {\n  if (value && typeof value === 'object' && value.type === 'Buffer' && Array.isArray(value.data) && value.data.length > 0) {\n    const char = String.fromCharCode(value.data[0]);\n    const c = char.toUpperCase();\n    if (['T', 'Y', '1'].includes(c)) return true;\n    if (['F', 'N', '0'].includes(c)) return false;\n  }\n  if (typeof value === 'boolean') return value;\n  if (typeof value === 'number') return value !== 0;\n  if (typeof value === 'string') {\n    const s = value.trim().toLowerCase();\n    if (['true', 't', 'yes', 'y', '1'].includes(s)) return true;\n    if (['false', 'f', 'no', 'n', '0'].includes(s)) return false;\n  }\n  return Boolean(value);\n}\n\nfunction normalizeProduct(record) {\n  const fields = record.fields || record;\n  return {\n    sku: fields.sku,\n    name: fields.name,\n    price: fields.price,\n    design: fields.design,\n    height_ft: fields.height_ft,\n    width_ft: fields.width_ft,\n    color: fields.color,\n    is_picket: fields.is_picket != null ? bufferToBool(fields.is_picket) : null,\n    box_qty: fields.box_qty,\n    note: fields.note,\n  };\n}\n\n// --- Normalize returned products (typically LIMIT 5) ---\nconst products = productRecords.map(normalizeProduct);\n\n// --- Determine mode based on TOTAL count ---\nlet mode;\nif (totalCount === 0) mode = 'none';\nelse if (totalCount === 1) mode = 'exact';\nelse if (totalCount <= 5) mode = 'full';\nelse if (totalCount <= 20) mode = 'guided';\nelse mode = 'narrow';\n\n// --- Facets built from Facets Query (ALL matches) ---\nconst FACET_FIELDS = ['design', 'height_ft', 'width_ft', 'color', 'is_picket'];\n\nlet facets = null;\nlet suggested_filter = null;\n\nif (totalCount > 5 && facetsQueryResults.length > 0) {\n  const facetsData = facetsQueryResults[0]?.json?.records || facetsQueryResults[0]?.json || [];\n  const facetRecords = Array.isArray(facetsData) ? facetsData : [facetsData];\n\n  facets = {};\n\n  // Group facet records by field\n  for (const rec of facetRecords) {\n    const r = rec.fields || rec;\n    const field = r.field;\n    const value = r.value;\n    const cnt = r.cnt;\n\n    if (!field || value === null || value === undefined || value === '') continue;\n    if (!FACET_FIELDS.includes(field)) continue;\n\n    if (!facets[field]) facets[field] = { values: [], counts: [] };\n    facets[field].values.push(value);\n    facets[field].counts.push(cnt);\n  }\n\n  // Remove fields with only 1 value\n  for (const field of Object.keys(facets)) {\n    if (facets[field].values.length <= 1) delete facets[field];\n  }\n\n  // Find most discriminating field\n  let bestField = null;\n  let bestScore = 0;\n\n  for (const [field, data] of Object.entries(facets)) {\n    const maxCount = Math.max(...data.counts);\n    const score = 1 - (maxCount / totalCount);\n    if (score > bestScore && data.values.length >= 2) {\n      bestScore = score;\n      bestField = field;\n    }\n  }\n\n  suggested_filter = bestField;\n}\n\n// --- Build response ---\nconst response = {\n  mode,\n  total_count: totalCount,\n  products: products.slice(0, 5),\n};\n\nif (facets && Object.keys(facets).length > 0) {\n  response.facets = facets;\n  response.suggested_filter = suggested_filter;\n}\n\nif (mode === 'none') {\n  response.message = \"No products found matching your criteria.\";\n}\n\nreturn [{ json: response }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        0
      ],
      "id": "1c56db47-901f-4a06-825f-d9516222a6af",
      "name": "Normalize Response"
    },
    {
      "parameters": {
        "jsCode": "// Get all incoming items\nconst items = $('When Executed from MCP Trigger Call').all();\n\nfunction notEmpty(value) {\n  if (value === undefined || value === null) return false;\n  if (typeof value === 'string' && value.trim() === '') return false;\n  return true;\n}\n\nconst TABLE_NAME = 'Products_summary_active_description_family_code_name_price_sku_unit_code';\n\n// Vinyl Fence columns\nconst PRODUCT_COLUMNS = [\n  'sku',\n  'family_code',\n  'name',\n  'price',\n  'design',\n  'width_ft',\n  'height_ft',\n  'color',\n  'is_picket',\n  'box_qty',\n  'vendor_sku',\n  'note'\n].join(', ');\n\n// Facet fields (Vinyl)\nconst FACET_FIELDS = ['design', 'height_ft', 'width_ft', 'color', 'is_picket'];\n\nconst out = items.map(item => {\n  const q = item.json.query || item.json || {};\n\n  // --- WHERE construction ---\n  const where = [];\n  const args = [];\n\n  // 🔒 HARD-CODED family_code for Vinyl Fence\n  where.push('family_code = ?');\n  args.push(1);\n\n  // OPTIONAL filters (string columns are case-insensitive)\n  if (notEmpty(q.design)) {\n    where.push('LOWER(design) = LOWER(?)');\n    args.push(q.design);\n  }\n\n  if (notEmpty(q.height_ft) && Number(q.height_ft) !== 0) {\n    where.push('height_ft = ?');\n    args.push(Number(q.height_ft));\n  }\n\n  if (notEmpty(q.width_ft) && Number(q.width_ft) !== 0) {\n    where.push('width_ft = ?');\n    args.push(Number(q.width_ft));\n  }\n\n  if (notEmpty(q.color)) {\n    where.push('LOWER(color) = LOWER(?)');\n    args.push(q.color);\n  }\n\n  if (q.is_picket === 'yes') { \n    where.push('is_picket = ?'); \n    args.push(true); \n  }\n  else if (q.is_picket === 'no') { \n    where.push('is_picket = ?'); \n    args.push(false); \n  }\n\n  // PRICE RANGE\n  if (notEmpty(q.price_gte) && Number(q.price_gte) !== 0) {\n    where.push('price >= ?');\n    args.push(Number(q.price_gte));\n  }\n\n  if (notEmpty(q.price_lte) && Number(q.price_lte) !== 0) {\n    where.push('price <= ?');\n    args.push(Number(q.price_lte));\n  }\n\n  // ACTIVE default = true\n  const active = typeof q.active === 'boolean' ? q.active : true;\n  where.push('active = ?');\n  args.push(active);\n\n  const whereClause = ' WHERE ' + where.join(' AND ');\n\n  // --- ORDER BY ---\n  const orderParts = [];\n  const priceOrder = q.price_order === 'asc' ? 'asc' : 'desc';\n  orderParts.push(priceOrder === 'asc' ? 'price ASC' : 'price DESC');\n  orderParts.push('design', 'height_ft', 'width_ft', 'color');\n\n  const orderBy = ' ORDER BY ' + orderParts.join(', ');\n\n  // --- Products query: limited to 5 ---\n  const productsSql =\n    `SELECT ${PRODUCT_COLUMNS}, ` +\n    `(SELECT COUNT(*) FROM ${TABLE_NAME}${whereClause}) as total_count ` +\n    `FROM ${TABLE_NAME}${whereClause} ` +\n    orderBy +\n    ` LIMIT 5`;\n\n  // --- Facets query: ALL matches ---\n  const facetsSql = FACET_FIELDS.map(field =>\n    `SELECT '${field}' as field, ${field} as value, COUNT(*) as cnt ` +\n    `FROM ${TABLE_NAME}${whereClause} ` +\n    `AND ${field} IS NOT NULL AND ${field} != '' ` +\n    `GROUP BY ${field}`\n  ).join(' UNION ALL ');\n\n  // Args for facets (repeat per UNION subquery)\n  const facetsArgs = [];\n  for (let i = 0; i < FACET_FIELDS.length; i++) {\n    facetsArgs.push(...args);\n  }\n\n  return {\n    json: {\n      ...item.json,\n      productsSql,\n      productsArgs: [...args, ...args], // productsSql uses where twice\n      facetsSql,\n      facetsArgs,\n    },\n  };\n});\n\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        -16
      ],
      "id": "7f6169ed-71ac-452f-91b6-693f02ebd4cc",
      "name": "Build SQL",
      "alwaysOutputData": true,
      "notesInFlow": true,
      "notes": "Normalize & Prepare"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://grist:8484/api/docs/kHgFzJesrzaJ/sql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "sql",
              "value": "WITH filtered AS (SELECT sku, family_code, name, price, design, width_ft, height_ft, color, is_picket, box_qty, vendor_sku, note FROM Products_summary_active_description_family_code_name_price_sku_unit_code WHERE family_code = 1 AND (is_picket IS NOT TRUE) AND active = true) SELECT *, (SELECT COUNT(*) FROM filtered) AS total_count FROM filtered ORDER BY price DESC, design, height_ft, width_ft, color LIMIT 100"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        80,
        272
      ],
      "id": "3b59dbfe-61ae-4a18-936e-5422a2a3f1c7",
      "name": "Query Grist1",
      "alwaysOutputData": true,
      "credentials": {
        "httpBearerAuth": {
          "id": "yyZQBn8GGgMo6tUu",
          "name": "Bearer Auth - Grist"
        },
        "httpHeaderAuth": {
          "id": "iSnE9OJyUTsjisd6",
          "name": "Header Auth - Grist Bearer"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "eb3dbd76-ac70-499a-8497-6850b2f02eb9",
              "leftValue": "={{\n  Array.isArray($json.records) &&\n  $json.records.length > 0 &&\n  $json.records[0].fields.total_count !== undefined &&\n  Number($json.records[0].fields.total_count) > $json.records.length\n}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -144,
        -16
      ],
      "id": "931dd753-e19b-414f-a229-bbe134157554",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://grist:8484/api/docs/{{ $('Get row(s)').item.json.document_id }}/sql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \n    sql: $('Build SQL').item.json.facetsSql,\n    args: $('Build SQL').item.json.facetsArgs\n} }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        80,
        -128
      ],
      "id": "6f7fc06d-970c-4371-ab43-0ae6dd66eac1",
      "name": "Facets Query",
      "alwaysOutputData": true,
      "credentials": {
        "httpBearerAuth": {
          "id": "yyZQBn8GGgMo6tUu",
          "name": "Bearer Auth - Grist"
        },
        "httpHeaderAuth": {
          "id": "iSnE9OJyUTsjisd6",
          "name": "Header Auth - Grist Bearer"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://grist:8484/api/docs/{{$('Get row(s)').item.json.document_id}}/sql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \n    sql: $json.productsSql,\n    args: $json.productsArgs\n} }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -352,
        -16
      ],
      "id": "b0cf34f0-b71d-419f-8a33-ecdaf9a44db4",
      "name": "Products Query",
      "alwaysOutputData": true,
      "credentials": {
        "httpBearerAuth": {
          "id": "yyZQBn8GGgMo6tUu",
          "name": "Bearer Auth - Grist"
        },
        "httpHeaderAuth": {
          "id": "iSnE9OJyUTsjisd6",
          "name": "Header Auth - Grist Bearer"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "CgbXuTY7ln1HR8Uw",
          "mode": "list",
          "cachedResultName": "grist",
          "cachedResultUrl": "/projects/HE5b9C48Ee0HfgOx/datatables/CgbXuTY7ln1HR8Uw"
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -784,
        -16
      ],
      "id": "4fa13cca-ef5d-4295-b92d-f1cdd7a5db61",
      "name": "Get row(s)"
    }
  ],
  "pinData": {
    "When Executed from MCP Trigger Call": [
      {
        "json": {
          "unit_name": "Section",
          "design": "",
          "height_ft": 0,
          "color": "Grey",
          "width_ft": 0,
          "is_picket": false,
          "price_lte": 0,
          "price": 0,
          "price_gte": 0
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "When Executed from MCP Trigger Call": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Response": {
      "main": [
        []
      ]
    },
    "Build SQL": {
      "main": [
        [
          {
            "node": "Products Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Facets Query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facets Query": {
      "main": [
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Products Query": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Build SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "50eb67e7-359d-4dd0-adac-c925d36d63e4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b8a06cf7ecb558d0b7779cf08af35e39db0e58d7f6882daa3e960ae524cea9c3"
  },
  "id": "IQyaOBuB8oMJWsoD",
  "tags": [
    {
      "updatedAt": "2026-02-02T07:10:47.391Z",
      "createdAt": "2026-02-02T07:10:47.391Z",
      "id": "qhaoY6858ZgxSHts",
      "name": "FDS"
    }
  ]
}