n8n/FDS_ MCP Lookup Tool - Temporary Fence.json
{
  "name": "FDS: MCP Lookup Tool - Temporary Fence",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "unit_name"
            },
            {
              "name": "width_ft",
              "type": "number"
            },
            {
              "name": "height_ft",
              "type": "number"
            },
            {
              "name": "price_lte",
              "type": "number"
            },
            {
              "name": "price",
              "type": "number"
            },
            {
              "name": "price_gte",
              "type": "number"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1040,
        -16
      ],
      "id": "ebd1bec8-7435-4652-a3da-3798a9335db6",
      "name": "When Executed from MCP Trigger Call",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Get data from prior nodes\nconst productsQueryResults = $('Products Query').all();\n\nlet facetsQueryResults = [];\ntry {\n  facetsQueryResults = $('Facets Query').all();\n} catch (e) {\n  facetsQueryResults = []; // Facets Query not executed (that's OK)\n}\n\n// Extract products records\nconst productsData = productsQueryResults[0]?.json?.records || productsQueryResults[0]?.json || [];\nconst productRecords = Array.isArray(productsData) ? productsData : [productsData];\n\n// total_count (ALL matches), fallback to returned length\nconst totalCount =\n  productRecords[0]?.fields?.total_count ??\n  productRecords[0]?.total_count ??\n  productRecords.length;\n\n// --- Helpers ---\nfunction bufferToBool(value) {\n  if (value && typeof value === 'object' && value.type === 'Buffer' && Array.isArray(value.data) && value.data.length > 0) {\n    const char = String.fromCharCode(value.data[0]);\n    const c = char.toUpperCase();\n    if (['T', 'Y', '1'].includes(c)) return true;\n    if (['F', 'N', '0'].includes(c)) return false;\n  }\n  if (typeof value === 'boolean') return value;\n  if (typeof value === 'number') return value !== 0;\n  if (typeof value === 'string') {\n    const s = value.trim().toLowerCase();\n    if (['true', 't', 'yes', 'y', '1'].includes(s)) return true;\n    if (['false', 'f', 'no', 'n', '0'].includes(s)) return false;\n  }\n  return Boolean(value);\n}\n\nfunction normalizeProduct(record) {\n  const fields = record.fields || record;\n  return {\n    sku: fields.sku,\n    unit_name: fields.unit_name,\n    name: fields.name,\n    price: fields.price,\n    height_ft: fields.height_ft,\n    width_ft: fields.width_ft,\n  };\n}\n\n\n\n\n// --- Normalize returned products (typically LIMIT 5) ---\nconst products = productRecords.map(normalizeProduct);\n\n// --- Determine mode based on TOTAL count ---\nlet mode;\nif (totalCount === 0) mode = 'none';\nelse if (totalCount === 1) mode = 'exact';\nelse if (totalCount <= 5) mode = 'full';\nelse if (totalCount <= 20) mode = 'guided';\nelse mode = 'narrow';\n\n// --- Facets built from Facets Query (ALL matches) ---\nconst FACET_FIELDS = ['design', 'height_ft', 'width_ft', 'color', 'is_picket'];\n\nlet facets = null;\nlet suggested_filter = null;\n\nif (totalCount > 5 && facetsQueryResults.length > 0) {\n  const facetsData = facetsQueryResults[0]?.json?.records || facetsQueryResults[0]?.json || [];\n  const facetRecords = Array.isArray(facetsData) ? facetsData : [facetsData];\n\n  facets = {};\n\n  // Group facet records by field\n  for (const rec of facetRecords) {\n    const r = rec.fields || rec;\n    const field = r.field;\n    const value = r.value;\n    const cnt = r.cnt;\n\n    if (!field || value === null || value === undefined || value === '') continue;\n    if (!FACET_FIELDS.includes(field)) continue;\n\n    if (!facets[field]) facets[field] = { values: [], counts: [] };\n    facets[field].values.push(value);\n    facets[field].counts.push(cnt);\n  }\n\n  // Remove fields with only 1 value\n  for (const field of Object.keys(facets)) {\n    if (facets[field].values.length <= 1) delete facets[field];\n  }\n\n  // Find most discriminating field\n  let bestField = null;\n  let bestScore = 0;\n\n  for (const [field, data] of Object.entries(facets)) {\n    const maxCount = Math.max(...data.counts);\n    const score = 1 - (maxCount / totalCount);\n    if (score > bestScore && data.values.length >= 2) {\n      bestScore = score;\n      bestField = field;\n    }\n  }\n\n  suggested_filter = bestField;\n}\n\n// --- Build response ---\nconst response = {\n  mode,\n  total_count: totalCount,\n  products: products.slice(0, 5),\n};\n\nif (facets && Object.keys(facets).length > 0) {\n  response.facets = facets;\n  response.suggested_filter = suggested_filter;\n}\n\nif (mode === 'none') {\n  response.message = \"No products found matching your criteria.\";\n}\n\nreturn [{ json: response }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "f301b98a-2176-4794-a71d-75d90dea4784",
      "name": "Normalize Response"
    },
    {
      "parameters": {
        "jsCode": "// Get all incoming items\nconst items = $('When Executed from MCP Trigger Call').all();\n\nfunction notEmpty(value) {\n  if (value === undefined || value === null) return false;\n  if (typeof value === 'string' && value.trim() === '') return false;\n  return true;\n}\n\nconst FAMILY_CODE_TEMP_FENCE = 6;\n\nconst TABLE_NAME = 'Products_summary_active_description_family_code_name_price_sku_unit_code';\n\n// Temporary Fence columns (based on current dataset)\nconst PRODUCT_COLUMNS = [\n  'sku',\n  'name',\n  'price',\n  'unit_name',\n  'height_ft',\n  'width_ft'\n].join(', ');\n\n// Facets for Temporary Fence\nconst FACET_FIELDS = [\n  'unit_name',\n  'height_ft',\n  'width_ft'\n];\n\n// Numeric facet fields (so we don’t do != '' on numbers)\nconst NUMERIC_FACETS = new Set(['height_ft', 'width_ft', 'price']);\n\nconst out = items.map(item => {\n  const q = item.json.query || item.json || {};\n\n  // --- WHERE construction ---\n  const where = [];\n  const args = [];\n\n  // 🔒 HARD-CODED family_code for Temporary Fence\n  where.push('family_code = ?');\n  args.push(FAMILY_CODE_TEMP_FENCE);\n\n  // unit_name\n  if (notEmpty(q.unit_name)) {\n    where.push('LOWER(unit_name) = LOWER(?)');\n    args.push(q.unit_name);\n  }\n\n  // height_ft\n  if (notEmpty(q.height_ft) && Number(q.height_ft) !== 0) {\n    where.push('height_ft = ?');\n    args.push(Number(q.height_ft));\n  }\n\n  // width_ft\n  if (notEmpty(q.width_ft) && Number(q.width_ft) !== 0) {\n    where.push('width_ft = ?');\n    args.push(Number(q.width_ft));\n  }\n\n  // PRICE RANGE\n  if (notEmpty(q.price_gte) && Number(q.price_gte) !== 0) {\n    where.push('price >= ?');\n    args.push(Number(q.price_gte));\n  }\n\n  if (notEmpty(q.price_lte) && Number(q.price_lte) !== 0) {\n    where.push('price <= ?');\n    args.push(Number(q.price_lte));\n  }\n\n  // ACTIVE default = true (keep consistent with other families)\n  const active = typeof q.active === 'boolean' ? q.active : true;\n  where.push('active = ?');\n  args.push(active);\n\n  const whereClause = ' WHERE ' + where.join(' AND ');\n\n  // --- ORDER BY ---\n  const orderParts = [];\n  const priceOrder = q.price_order === 'asc' ? 'asc' : 'desc';\n  orderParts.push(priceOrder === 'asc' ? 'price ASC' : 'price DESC');\n  orderParts.push('unit_name', 'height_ft', 'width_ft');\n\n  const orderBy = ' ORDER BY ' + orderParts.join(', ');\n\n  // --- Products query: limited to 5 ---\n  const productsSql =\n    `SELECT ${PRODUCT_COLUMNS}, ` +\n    `(SELECT COUNT(*) FROM ${TABLE_NAME}${whereClause}) as total_count ` +\n    `FROM ${TABLE_NAME}${whereClause} ` +\n    orderBy +\n    ` LIMIT 5`;\n\n  // --- Facets query: ALL matches ---\n  const facetsSql = FACET_FIELDS.map(field => {\n    const nonEmptyCheck = NUMERIC_FACETS.has(field)\n      ? `${field} IS NOT NULL`\n      : `${field} IS NOT NULL AND ${field} != ''`;\n\n    return (\n      `SELECT '${field}' as field, ${field} as value, COUNT(*) as cnt ` +\n      `FROM ${TABLE_NAME}${whereClause} ` +\n      `AND ${nonEmptyCheck} ` +\n      `GROUP BY ${field}`\n    );\n  }).join(' UNION ALL ');\n\n  // Args for facets (repeat per UNION subquery)\n  const facetsArgs = [];\n  for (let i = 0; i < FACET_FIELDS.length; i++) {\n    facetsArgs.push(...args);\n  }\n\n  return {\n    json: {\n      ...item.json,\n      productsSql,\n      productsArgs: [...args, ...args], // productsSql uses where twice\n      facetsSql,\n      facetsArgs,\n    },\n  };\n});\n\nreturn out;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        -16
      ],
      "id": "ac46bb08-ef42-42c4-a8df-0a357c32bab5",
      "name": "Build SQL",
      "alwaysOutputData": true,
      "notesInFlow": true,
      "notes": "Normalize & Prepare"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://grist:8484/api/docs/kHgFzJesrzaJ/sql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "sql",
              "value": "WITH filtered AS (SELECT sku, family_code, name, price, design, width_ft, height_ft, color, is_picket, box_qty, vendor_sku, note FROM Products_summary_active_description_family_code_name_price_sku_unit_code WHERE family_code = 1 AND (is_picket IS NOT TRUE) AND active = true) SELECT *, (SELECT COUNT(*) FROM filtered) AS total_count FROM filtered ORDER BY price DESC, design, height_ft, width_ft, color LIMIT 100"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        80,
        272
      ],
      "id": "a644fb7b-e583-4aa9-b721-0fea368072fa",
      "name": "Query Grist1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "eb3dbd76-ac70-499a-8497-6850b2f02eb9",
              "leftValue": "={{ \n  Array.isArray($json.records) && \n  $json.records.length > 0 && \n  $json.records[0].fields.total_count !== undefined && Number($json.records[0].fields.total_count) > $json.records.length \n}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -144,
        -16
      ],
      "id": "7cced082-bd4e-448b-8fec-1bdd53aa4cae",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://grist:8484/api/docs/{{$('Get row(s)').item.json.document_id}}/sql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \n    sql: $('Build SQL').item.json.facetsSql,\n    args: $('Build SQL').item.json.facetsArgs\n} }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        48,
        -176
      ],
      "id": "50c19f99-007b-4424-8c2a-382fbedcf682",
      "name": "Facets Query",
      "alwaysOutputData": true,
      "credentials": {
        "httpBearerAuth": {
          "id": "yyZQBn8GGgMo6tUu",
          "name": "Bearer Auth - Grist"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://grist:8484/api/docs/{{$('Get row(s)').item.json.document_id}}/sql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \n    sql: $json.productsSql,\n    args: $json.productsArgs\n} }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -352,
        -16
      ],
      "id": "1ff5e88f-af89-42dd-a8c0-d10dde7f7261",
      "name": "Products Query",
      "alwaysOutputData": true,
      "credentials": {
        "httpBearerAuth": {
          "id": "yyZQBn8GGgMo6tUu",
          "name": "Bearer Auth - Grist"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "CgbXuTY7ln1HR8Uw",
          "mode": "list",
          "cachedResultName": "grist",
          "cachedResultUrl": "/projects/HE5b9C48Ee0HfgOx/datatables/CgbXuTY7ln1HR8Uw"
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -768,
        -16
      ],
      "id": "7472149d-2542-49e8-8d4a-4f98cabf3bb0",
      "name": "Get row(s)"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed from MCP Trigger Call": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Response": {
      "main": [
        []
      ]
    },
    "Build SQL": {
      "main": [
        [
          {
            "node": "Products Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Facets Query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facets Query": {
      "main": [
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Products Query": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Build SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "8832c985-a23b-4239-8983-8398d8c47798",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b8a06cf7ecb558d0b7779cf08af35e39db0e58d7f6882daa3e960ae524cea9c3"
  },
  "id": "bUblauWrchdcdH30",
  "tags": [
    {
      "updatedAt": "2026-02-02T07:10:47.391Z",
      "createdAt": "2026-02-02T07:10:47.391Z",
      "id": "qhaoY6858ZgxSHts",
      "name": "FDS"
    }
  ]
}