n8n/FDS_ MCP Lookup Tool - Chain Link Fence.json
{
  "name": "FDS: MCP Lookup Tool - Chain Link Fence",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "unit_name"
            },
            {
              "name": "color"
            },
            {
              "name": "height_ft",
              "type": "number"
            },
            {
              "name": "height_in",
              "type": "number"
            },
            {
              "name": "length_ft",
              "type": "number"
            },
            {
              "name": "price_lte",
              "type": "number"
            },
            {
              "name": "price",
              "type": "number"
            },
            {
              "name": "price_gte",
              "type": "number"
            },
            {
              "name": "material_grade"
            },
            {
              "name": "pipe_diameter_label"
            },
            {
              "name": "end_type"
            },
            {
              "name": "wall_thickness",
              "type": "number"
            },
            {
              "name": "mesh_type"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -960,
        -16
      ],
      "id": "7a681e95-1591-45bb-b51a-79d0cbc9074d",
      "name": "When Executed from MCP Trigger Call",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Get data from prior nodes\nconst productsQueryResults = $('Products Query').all();\n\nlet facetsQueryResults = [];\ntry {\n  facetsQueryResults = $('Facets Query').all();\n} catch (e) {\n  facetsQueryResults = []; // Facets Query not executed (that's OK)\n}\n\n// Extract products records\nconst productsData = productsQueryResults[0]?.json?.records || productsQueryResults[0]?.json || [];\nconst productRecords = Array.isArray(productsData) ? productsData : [productsData];\n\n// total_count\nconst totalCount =\n  productRecords[0]?.fields?.total_count ??\n  productRecords[0]?.total_count ??\n  productRecords.length;\n\nfunction normalizeProduct(record) {\n  const fields = record.fields || record;\n  return {\n    sku: fields.sku,\n    name: fields.name,\n    price: fields.price,\n    unit_name: fields.unit_name,\n    color: fields.color,\n    height_ft: fields.height_ft,\n    height_in: fields.height_in || fields.height_normal_in,\n    mesh_type: fields.mesh_type,\n    pipe_diameter_in: fields.pipe_diameter_in,\n    pipe_diameter_label: fields.pipe_diameter_label,\n    length_ft: fields.length_ft,\n    wall_thickness: fields.wall_thickness,\n    material_grade: fields.material_grade,\n    end_type: fields.end_type,\n    units_of_measure: fields.units_of_measure,\n  };\n}\n\nconst products = productRecords.map(normalizeProduct);\n\n// mode\nlet mode;\nif (totalCount === 0) mode = 'none';\nelse if (totalCount === 1) mode = 'exact';\nelse if (totalCount <= 5) mode = 'full';\nelse if (totalCount <= 20) mode = 'guided';\nelse mode = 'narrow';\n\n// facets\nlet facets = null;\nlet suggested_filter = null;\n\nif (totalCount > 5 && facetsQueryResults.length > 0) {\n  const facetsData = facetsQueryResults[0]?.json?.records || facetsQueryResults[0]?.json || [];\n  const facetRecords = Array.isArray(facetsData) ? facetsData : [facetsData];\n\n  facets = {};\n\n  for (const record of facetRecords) {\n    const r = record.fields || record;\n    const field = r.field;\n    const value = r.value;\n    const cnt = r.cnt;\n\n    if (!field || value === null || value === undefined || value === '') continue;\n\n    if (!facets[field]) facets[field] = { values: [], counts: [] };\n    facets[field].values.push(value);\n    facets[field].counts.push(cnt);\n  }\n\n  for (const field of Object.keys(facets)) {\n    if (facets[field].values.length <= 1) delete facets[field];\n  }\n\n  let bestField = null;\n  let bestScore = 0;\n\n  for (const [field, data] of Object.entries(facets)) {\n    const maxCount = Math.max(...data.counts);\n    const score = 1 - (maxCount / totalCount);\n    if (score > bestScore && data.values.length >= 2) {\n      bestScore = score;\n      bestField = field;\n    }\n  }\n\n  suggested_filter = bestField;\n}\n\n// response\nconst response = {\n  mode,\n  total_count: totalCount,\n  products: products.slice(0, 5),\n};\n\nif (facets && Object.keys(facets).length > 0) {\n  response.facets = facets;\n  response.suggested_filter = suggested_filter;\n}\n\nif (mode === 'none') response.message = \"No products found matching your criteria.\";\n\nreturn [{ json: response }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ],
      "id": "e9540107-c557-4d99-88a4-de23a3b6be34",
      "name": "Normalize Response"
    },
    {
      "parameters": {
        "jsCode": "const items = $(\"When Executed from MCP Trigger Call\").all();\n\n  function notEmpty(value) {\n    if (value === undefined || value === null) return false;\n    if (typeof value === 'string' && value.trim() === '') return false;\n    return true;\n  }\n\n  const TABLE_NAME = 'Products_summary_active_description_family_code_name_price_sku_unit_code';\n\n  const PRODUCT_COLUMNS = [\n    'sku', 'family_code', 'unit_name', 'name', 'price', 'color',\n    'height_ft', 'height_in', 'height_normal_in', 'mesh_type',\n    'pipe_diameter_in', 'pipe_diameter_label', 'length_ft',\n    'wall_thickness', 'material_grade', 'end_type', 'units_of_measure'\n  ].join(', ');\n\n  const FACET_FIELDS = [\n    'unit_name', 'color', 'height_ft', 'mesh_type',\n    'pipe_diameter_label', 'length_ft', 'wall_thickness', 'material_grade'\n  ];\n\n  const out = items.map(item => {\n    const q = item.json.query || item.json || {};\n\n    const where = [];\n    const args = [];\n\n    // 🔒 HARD-CODED family_code\n    where.push('family_code = ?');\n    args.push(5);\n\n    if (notEmpty(q.unit_name)) {\n      where.push('unit_name = ?');\n      args.push(q.unit_name);\n    }\n\n    if (notEmpty(q.color)) {\n      let normalizedColor = q.color;\n    \n      if (q.unit_name === 'Mesh' && (q.color === 'Green' || q.color === 'Black')) {\n        normalizedColor = 'Black/Green';\n      }\n    \n      where.push('color = ?');\n      args.push(normalizedColor);\n    }\n\n    if (notEmpty(q.height_in) && Number(q.height_in) !== 0 && q.unit_name === \"Mesh\") {\n      where.push('height_normal_in = ?');\n      args.push(Number(q.height_in));\n    } else if (notEmpty(q.height_ft) && Number(q.height_ft) !== 0 && q.unit_name === \"Mesh\") {\n      where.push('height_normal_in = ?');\n      args.push(Number(q.height_ft) * 12);\n    }\n\n    if (notEmpty(q.mesh_type)) {\n      where.push('mesh_type = ?');\n      args.push(q.mesh_type);\n    }\n\n    if (notEmpty(q.pipe_diameter_label)) {\n      where.push('pipe_diameter_label = ?');\n      args.push(q.pipe_diameter_label);\n    }\n\n    if (notEmpty(q.length_ft) && Number(q.length_ft) !== 0) {\n      where.push('length_ft = ?');\n      args.push(Number(q.length_ft));\n    }\n\n    if (notEmpty(q.wall_thickness) && Number(q.wall_thickness) !== 0) {\n      where.push('wall_thickness = ?');\n      args.push(Number(q.wall_thickness));\n    }\n\n    if (notEmpty(q.material_grade)) {\n      where.push('material_grade = ?');\n      args.push(q.material_grade);\n    }\n\n    if (notEmpty(q.end_type)) {\n      where.push('end_type = ?');\n      args.push(q.end_type);\n    }\n\n    const active = typeof q.active === 'boolean' ? q.active : true;\n    where.push('active = ?');\n    args.push(active);\n\n    const whereClause = ' WHERE ' + where.join(' AND ');\n\n    // --- Facets query: DISTINCT values + counts for each field ---\n    const facetQueries = FACET_FIELDS.map(field =>\n      `SELECT '${field}' as field, ${field} as value, COUNT(*) as cnt ` +\n      `FROM ${TABLE_NAME}${whereClause} ` +\n      `AND ${field} IS NOT NULL AND ${field} != '' ` +\n      `GROUP BY ${field}`\n    ).join(' UNION ALL ');\n\n    // --- Products query: limited ---\n    const productsQuery =\n      `SELECT ${PRODUCT_COLUMNS}, ` +\n      `(SELECT COUNT(*) FROM ${TABLE_NAME}${whereClause}) as total_count ` +\n      `FROM ${TABLE_NAME}${whereClause} ` +\n      `ORDER BY price DESC, unit_name, height_normal_in, color ` +\n      `LIMIT 5`;\n\n    // Duplicate args for each facet subquery + products query\n    const facetArgs = [];\n    for (let i = 0; i < FACET_FIELDS.length; i++) {\n      facetArgs.push(...args);\n    }\n    const productArgs = [...args];\n\n    return {\n      json: {\n        ...item.json,\n        facetsSql: facetQueries,\n        facetsArgs: facetArgs,\n        productsSql: productsQuery,\n        productsArgs: [...args, ...args],\n      },\n    };\n  });\n\n  return out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -576,
        -16
      ],
      "id": "4a5ace8f-5d7d-4359-a969-4abb3db0bcc3",
      "name": "Build SQL",
      "alwaysOutputData": true,
      "notesInFlow": true,
      "notes": "Normalize & Prepare"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://grist:8484/api/docs/kHgFzJesrzaJ/sql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \n    sql: $('Build SQL').item.json.facetsSql,\n    args: $('Build SQL').item.json.facetsArgs\n} }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        32,
        -192
      ],
      "id": "e20cf48a-db63-4f5b-be58-f8d8ce15ea8f",
      "name": "Facets Query",
      "alwaysOutputData": true,
      "credentials": {
        "httpBearerAuth": {
          "id": "yyZQBn8GGgMo6tUu",
          "name": "Bearer Auth - Grist"
        },
        "httpHeaderAuth": {
          "id": "iSnE9OJyUTsjisd6",
          "name": "Header Auth - Grist Bearer"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://grist:8484/api/docs/{{ $('Get row(s)').item.json.document_id}}/sql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \n    sql: $json.productsSql,\n    args: $json.productsArgs\n} }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -352,
        -16
      ],
      "id": "fb8b538c-bbce-4873-a6ee-18c73f166138",
      "name": "Products Query",
      "alwaysOutputData": true,
      "credentials": {
        "httpBearerAuth": {
          "id": "yyZQBn8GGgMo6tUu",
          "name": "Bearer Auth - Grist"
        },
        "httpHeaderAuth": {
          "id": "iSnE9OJyUTsjisd6",
          "name": "Header Auth - Grist Bearer"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "79b82785-acd3-4d05-b5ca-6a1f3fd4f42a",
              "leftValue": "={{\n  Array.isArray($json.records) &&\n  $json.records.length > 0 &&\n  $json.records[0].total_count !== undefined &&\n  Number($json.records[0].total_count) > $json.records.length\n}}",
              "rightValue": 5,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -176,
        -16
      ],
      "id": "76253c00-bcad-453f-bdbe-23ecdd088bdb",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://grist:8484/api/docs/kHgFzJesrzaJ/sql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "sql",
              "value": "SELECT   sku,   family_code,   unit_name,   name,   price,   color,   height_ft,   height_in,   height_normal_in,   mesh_type,   pipe_diameter_in,   pipe_diameter_label,   length_ft,   wall_thickness,   material_grade,   end_type,   units_of_measure,   (     SELECT COUNT(*)     FROM Products_summary_active_description_family_code_name_price_sku_unit_code     WHERE family_code = 5       AND unit_name = 'Pipe'       AND color = 'Black'       AND pipe_diameter_label = '1-3/8\"'       AND length_ft = 21       AND wall_thickness = 0.065       AND material_grade = 'Resi'       AND end_type = 'SE'       AND active = 1   ) AS total_count FROM Products_summary_active_description_family_code_name_price_sku_unit_code WHERE family_code = 5   AND unit_name = 'Pipe'   AND color = 'Black'   AND pipe_diameter_label = '1-3/8\"'   AND length_ft = 21   AND wall_thickness = 0.065   AND material_grade = 'Resi'   AND end_type = 'SE'   AND active = 1 ORDER BY price DESC, unit_name, height_normal_in, color LIMIT 5;"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -352,
        208
      ],
      "id": "d5cb6201-606c-4e1e-8c0c-fcdcc1f5f5e7",
      "name": "Test Query",
      "alwaysOutputData": true,
      "credentials": {
        "httpBearerAuth": {
          "id": "yyZQBn8GGgMo6tUu",
          "name": "Bearer Auth - Grist"
        },
        "httpHeaderAuth": {
          "id": "iSnE9OJyUTsjisd6",
          "name": "Header Auth - Grist Bearer"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "CgbXuTY7ln1HR8Uw",
          "mode": "list",
          "cachedResultName": "grist",
          "cachedResultUrl": "/projects/HE5b9C48Ee0HfgOx/datatables/CgbXuTY7ln1HR8Uw"
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -768,
        -16
      ],
      "id": "70787b76-396a-43bc-8648-69e21e9c4ee0",
      "name": "Get row(s)"
    }
  ],
  "pinData": {
    "When Executed from MCP Trigger Call": [
      {
        "json": {
          "unit_name": "Mesh",
          "color": "Black/Green",
          "height_ft": 6,
          "height_in": 0,
          "length_ft": 100,
          "price_lte": 0,
          "price": 0,
          "price_gte": 0,
          "material_grade": "",
          "pipe_diameter_label": "",
          "end_type": "",
          "wall_thickness": 0,
          "mesh_type": "2 x 9"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "When Executed from MCP Trigger Call": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Response": {
      "main": [
        []
      ]
    },
    "Build SQL": {
      "main": [
        [
          {
            "node": "Products Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facets Query": {
      "main": [
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Products Query": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Facets Query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Build SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "6e78b7e8-a522-44e3-b783-579360f9d996",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b8a06cf7ecb558d0b7779cf08af35e39db0e58d7f6882daa3e960ae524cea9c3"
  },
  "id": "ZdkI1Uv3tMxwbpjk",
  "tags": [
    {
      "updatedAt": "2026-02-02T07:10:47.391Z",
      "createdAt": "2026-02-02T07:10:47.391Z",
      "id": "qhaoY6858ZgxSHts",
      "name": "FDS"
    }
  ]
}